// TODO see if there is a way to merge this with item partial in search, only form action is different

%li.span3
  .thumbnail
    %table.table-condensed
      %tr
        %td= image_tag(item.image_set(:primary).thumbnail.url)
        %td.span2= item.title
    .caption
      = form_tag unpick_item_path, method: :put do
        = hidden_field(item, :id)
        %p= submit_tag 'Unpick', class: "btn btn-warn btn-small"
