.item{id: "item_#{index}"}
  .image_container
    .image
      = image_tag item.images[:medium].try(:url) || image_path("hot_plate.jpg")
      .action
        = form_tag unpick_item_path, method: :delete do
          = hidden_field_tag :item, ItemRepresenter.new(item).to_json
          = submit_tag 'Unpick'

  .title.h3= link_to item.title, item.url, {target: '_blank', title: "Click to see on Amazon"}

  .details
    .detail
      %span List price:
      %span.price.list_price= " #{item.list_price}"
    .detail
      %span New from:
      %span.price= " #{item.best_offer(Condition::NEW).try(:price) || 'N/A'}"
    .detail
      %span Used from:
      %span.price= " #{item.best_offer(Condition::USED).try(:price) || 'N/A'}"

  .offers
    %ul
      - item.offers.each do |offer|
        = render partial: "offer", locals: {offer: offer}

  %br{clear: :all}